.created-images-list-new-image {
    margin-bottom: 32px;
}

.created-images-list-new-image button {
    font-size: 22px;
    background-color: rgb(44, 190, 0);
    border: 0;
    padding: 10px 16px;
    color: white;
}

.created-images-list-new-image button:hover {
    background-color: rgb(38, 161, 0);
}

.created-images-list-new-image button:active {
    background-color: rgb(31, 133, 0);
}

.created-images-list {
    display: flex;
    flex-direction: column;
}

.created-images-list-item {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.created-images-list-item > * {
    display: inline-block;
    vertical-align: middle;
    margin: 6px;
}

.created-images-list-item:first-child {
    margin-left: 0;
}

.created-images-list-item:last-child {
    margin-right: 0;
}

.created-images-list-item-name {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 8px;
    line-height: 32px;
    font-size: 20px;
}

.created-images-list-image {
    width: 150px;
}
