.image-information-edit-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-information-edit-image-container {
    text-align: center;
    margin-bottom: 16px;
}

.image-information-edit-image {
    width: 300px;
}
